@page
@model Gamebook.Pages.achievementsModel
@{
    ViewData["Title"] = "achievements";
}
    <div class="text-center">
        <h1>achievements</h1>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>Win:</p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[0]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>Turn Around:</p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[1]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>Bedroom Adventure: </p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[2]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>FallOut: </p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[3]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>Crowbars Are Heavy: </p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[4]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>Pushing Never Works: </p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[5]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>Knife Fight: </p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[6]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>Kung-Fu Fight: </p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[7]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>It's Dark: </p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[8]</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <p>Do Nothing And Die: </p>
            </div>
            <div class="col-lg-6">
                <p>@Model.achievements[9]</p>
            </div>
        </div>
        <hr />
    </div>

        <a asp-page="./index" class="btn btn-dark">Back</a>
